<?xml version="1.0" encoding="UTF-8"?>

<!-- beans 객체 실행 (의존객체 실행?? / set) -->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd">

<!-- @Autowired 사용 시. -->
<context:annotation-config />

<!-- Service 의존객체 -->
<!-- 공급자등록서비스 -->
<bean id="proRegistService" class="Service.Manager.ProRegistService">
</bean>
<!-- 관리자 로그인 -->
<bean id = "managerLoginService" class = "Service.Manager.ManagerLoginService" />
<bean id = "managerRepository" class = "Repository.Manager.ManagerRepository" />
<!-- 공급자등록서비스 -->
<!-- 공급자등록repository -->
<bean id="providerRepository" class="Repository.Manager.ProviderRepository">
</bean>
<!-- 공급자목록서비스 -->
<bean id="proListService" class="Service.Manager.ProListService">
</bean>
<!-- 공급자자세히보기서비스 -->
<bean id="proDetailService" class="Service.Manager.ProDetailService">
</bean>

</beans>