<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "CookingMapper">

<cache />
	<sql id = "classplancolumn">
		class_num, chef_num, mem_num, chef_name, class_name, class_goal, class_sub, class_cost, class_mate, class_date, class_place, class_psn
	</sql>
	
	<resultMap type="Model.DTO.ClassplanDTO" id="planSQL">
		<id column = "class_num" jdbcType = "INTEGER" property="classNum" />
		<result column = "chef_num" jdbcType="INTEGER" property="chefNum" />
		<result column = "mem_num" jdbcType="INTEGER" property="memNum" />
		<result column = "chef_name" jdbcType="VARCHAR" property="chefName" />
		<result column = "class_name" jdbcType="VARCHAR" property="className" />
		<result column = "class_goal" jdbcType="VARCHAR" property="classGoal" />
		<result column = "class_sub" jdbcType="VARCHAR" property="classSub" />
		<result column = "class_cost" jdbcType="INTEGER" property="classCost" />
		<result column = "classMate" jdbcType="VARCHAR" property="classMate" />
		<result column = "class_date" jdbcType="TIMESTAMP" property="classDate" />
		<result column = "class_place" jdbcType="VARCHAR" property="classPlace" />
		<result column = "classPsn" jdbcType="INTEGER" property="classPsn" />
	</resultMap>
	
	<insert id = "planInsert" parameterType = "Model.DTO.ClassplanDTO" >
		insert into classplan( <include refid="classplancolumn" />)
		values (classplans_noseq.nextval, )
	</insert>
	
	<select resultMap = "planSQL" id = "planDetail" parameterType = "Model.DTO.ClassplanDTO" >
		select <include refid="classplancolumn" /> from classplan
		where class_num = #{classNum }
	</select>

</mapper>