<?xml version="1.0" encoding="UTF-8"?>

<!-- mapper를 할 시 config >>> mapper로 바꿈 -->
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- namespace는 자신이 지정. -->	
<mapper namespace="ParticipationMapper">
	<cache/>
	
	<!-- 반복 사용하는 전체컬럼 설정. -->
	<!-- 사용시 <include refid="지정id" /> -->
	<sql id="baseColumn">
		participation_num, contest_num, mem_num, mem_id, participation_intro, participation_app, 
		participation_score, participation_rank, participation_original, 
		participation_store, participation_file_size
	</sql>
	
	<!-- insert -->
	<!-- 참가자등록 -->
	<!-- 쿼리문 작성 
		parameterType >> 데이터를 전달해줄 시 넘겨질 형식?
		parmeterType="Model.DTO.MemberDTO" >> 너무 길다. 줄이기위해 mybatis-config.xml에 별칭 지정 후 사용
	-->
	<!-- Type으로 가져오는 데이터 사용 할 때 >>> #{해당DTO맴버필드} -->
	<insert id="participationInsert" parameterType="parDTO">
		insert into participation (<include refid="baseColumn"/>)
		values( participation_noseq.nextval, #{contestNum}, #{memNum}, #{memId}, #{participationIntro}, 'N', 
			'0', '0', #{participationOriginal}, #{participationStore}, #{participationFileSize} )
	</insert>	
	
</mapper>