@charset "UTF-8";

html, body {
	width: 100%;
	min-height: 100%;
	margin: 0;
}

.div_container {
	width: 980px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 50px;
	
}

.div_left {
	float: left;
	width: 69%;
}

.div_right {
	float: right;
	width: 31%;
}

.main_login {
	text-align: center;
	font-weight: bold;
}

.main_login a {
	text-decoration:none;
}

.img_setting {
	margin: 4px;
	width: 300px;
	height: 100px;
}

.tap_menu {
	width: 150px;
	margin: 0px auto;
	list-style: none;
	text-align: center;
	float: left;
}

.tap_menu a {
	font-weight: bold;
	text-decoration: none;
}

.boardCurrent {
	background-color: #FFFFFF;
	border: 2px solid black;
	border-bottom:hidden;
}

.recipeCurrent {
	background-color: #FFFFFF;
	border: 2px solid black;
	border-bottom:hidden;
}

.recommand_recipe {
	
	margin-bottom: -50px;
}


